<h1>Add Wallpaper</h1>

<%= react_component 'WallpaperForm', {
    data: @wallpaper,
    errors: @wallpaper.errors,
    form: {
        mode: 'new',
        token: form_authenticity_token.to_s
      }
    } %>

<%= link_to 'Back', wallpapers_path %>
