// Home styles

.wallpaper-set {
  background: #181818;
  border: 1px solid #333;
  padding: 5px;
  margin: 10px 0;
  height: 263px;
  overflow-y: hidden;
}
.wallpaper-set h2 {
  margin: 0 0 5px 10px;
}

.wallpaper-set-wrap {
  overflow-x: scroll;
}

.wallpaper-set-thumbs {
  height: 230px;
  display: flex;
  position: relative;
  left: 0px;
  transition: left 0.2s;
}
.wallpaper-set-thumbs .wallpaper-thumb {
  display: inline-block;
  flex-shrink: 0;
}
